.Main1 {
    grid-area: main;
    
}
.Right1 {
    grid-area: right;
}

.grid-container {
    display: grid;
    grid-template-areas: 'main main main right right';
    grid-gap: 20px;
    padding: 10px;
    background-color: aqua;
}
.grid-container > div {
    
}